<% content_for :title do %>Dirtybass.FM live shoutcast stats<% end %>
<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="listener_graph" data-view="Graph" data-title="Listeners" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="listener_user_agents" data-view="List" data-unordered="true" data-title="User Agents"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="nowplaying" data-view="Text" data-title="Now playing" data-text="Please wait.." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="peak" data-view="Meter" data-moreinfo="In sync with my neighbour!" data-title="Peak Listeners" data-min="0" data-max="512"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="stream_hits" data-view="Number" data-moreinfo="In sync with my neighbour!" data-title="Stream Hits" data-min="0" data-max="512"></div>
    </li>

  </ul>
</div>
