<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="listener_graph" data-view="Graph" data-title="Listeners" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="listener_user_agents" data-view="List" data-unordered="true" data-title="User Agents"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="nowplaying" data-view="Text" data-title="Now playing" data-text="This is your shiny new 1080p dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>


  </ul>
</div>
